@page
@model StartingASP.NETWebApp.Pages.NotFound

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h3>Your Restaurant Was Not Found Restaurant</h3>
    <a asp-page="/Restaurant" class="btn btn-primary">
        See All Restaurants
    </a>
</div>
</body>
</html>